/* 

	LESS

*/
	

		/* Ambiente */
	@import "ambiente.less";

	/* Cores */
	@import "cores.less";

	/* Fontes */
	@import "fontes.less";

	/* Funcoes */
	@import "funcoes.less";

	/* Icons */
	@import "icons.less";

	/* Padroes */
	@import "padroes.less";

	/**/

	* {
		font-family: @fontePadrao;
		font-weight: 300;
		word-wrap: break-word;
	}

	body {
		background: @cinzaFundo;
	}
	textarea {
		resize: none;
	}
	img {
		display: inline-block !important;
	}

	/* Topo */
	.div-total-topo {
		padding: 0;
		margin: 0;
		text-align: center;
	}

		/*MENU*/
		.div-total-menu,
		.navbar-menu-topo,
		.container-topo{
			background: @preto url('../imagens/topo/background.png') ;
			border: 0;
		}
		.div-total-menu {
			z-index:100;
			.setBoxShadow(-3px 0 5px 7px #000);
		}
		div-logo-menu-topo {
			position: fixed;
			left: 0;
			top: 0;
			z-index: 100;
			background: @branco;
		}
		
			/* LOGO TOPO */
			.div-logo-topo {
				padding-top: 15px;
			}
			.eft-rolling .div-logo-topo {
				margin-top: 5px;
			}
				.div-logo-topo > img {
					max-width: 500px;			
				}

			/* MENU TOPO */
			.div-menu-topo .navbar-menu-topo,
			.div-menu-topo .navbar-menu-topo * {
				.setTransition(all 500ms cubic-bezier(0.250, 0.100, 0.250, 1.000));
			}
			.div-menu-topo .navbar-menu-topo {
				border: 0;
				background: transparent;
			}
			
				.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
					color:@branco;
					background-color: @pretoMenu;
				}
				@media only screen and (max-width: @maxXS) {
					.navbar-menu-topo .navbar-toggle,
					.navbar-menu-topo .navbar-toggle:hover,
					.navbar-menu-topo .navbar-toggle:focus,
					.navbar-menu-topo .navbar-toggle:active {
						background: @pretoMenu;
						border: 1px solid @branco;
					}
						.navbar-menu-topo .navbar-toggle .span-menu {
							color: @branco;
							font-weight: 900;
							font-size: 20px;
						}
					.navbar-menu-topo .navbar-collapse {
						border-top: 2px solid @branco;
						background: @pretoMenu;
					}
						.navbar-menu-topo .navbar-nav > li > a {
							color: @branco;
							&:hover {
								background: @branco;
								color: @branco;
							}
						}
						
				}
				@media only screen and (min-width: @minSM) and (max-width: @maxSM) {
					.navbar-menu-topo{
						margin-top: 50px;
					}
				}
				@media only screen and (min-width: @minSM) {					
					.eft-rolling {
						.setOpacity(0.8, 80, important);
					}
						.eft-rolling .navbar-nav > li > a {
							padding-top: 15px !important;
						}
					.navbar-menu-topo .navbar-nav > li {
						&:hover .eft-menu {
							height: 100%;
						}
					}
					.navbar-menu-topo .navbar-nav > li > a {
						padding-top: 30px;
						position: relative;
						z-index: 5;
						font-size: 18px;
						font-weight: 900;
						color: @branco;
						letter-spacing: 2px;

						&:hover {
							color: @branco;
						}
					}

					.eft-menu {
						width: 100%;
						height: 2px;
						background: @pretoMenu;
						position: absolute;
						top: 0px;
						left: 0px;
						z-index: 4;
					}
				}			



	/* Meio */
	.div-total-meio {
		padding: 0;
		margin: 0;
		text-align: center;
	}


		/*INICIAL*/
		.container-meio {
			z-index:10;
			background: @branco;
			padding:15px 0 30px 0;
		}
		.container-meio > div > img {
			height: 200px;
		}
		.container-meio > div > h1 {
			color: @pretoMenu;
			font-size: 23px;
			font-weight:700;
		}
		.texto-meio {
			padding: 0 10px;
			font-size: 15px !important;
			font-weight:400 !important;
			text-align: justify !important;
		}
		.texto-meio-outros {
			padding: 0 10px;
			font-size: 15px !important;
			font-weight:400 !important;
			text-align: center !important;
		}




	/* Rodape */
	.div-total-rodape {
		padding: 0;
		margin: 0;
		text-align: center;
	}
	.container-rodape {
		//background: @cinzaForte !important;
		background: url('../imagens/bg-header.png') repeat;
	}
		/* DESCRICAO */
		.div-desc-rodape {
			padding: 15px 0;
			.setBoxShadow(2px 0 5px 3px #000);
			//background: @cinzaForte;
			background: @cinzaMenu url('../imagens/bg-header.png') repeat;
		}
			.titulo-rodape {
				padding: 15px 0 0 0;
				#titulos > .titulo-padrao-rodape;
			}
			.descricao-rodape {
				#descricoes > .descricao-padrao-rodape;
			}

			@media only screen and (max-width: @maxSM) {
				.div-desc-logo,
				.div-desc-endereco,
				.div-desc-contato,
				.div-desc-mapa {
					padding: 15px;
				}
			}

			/* LOGO */		
			.div-desc-logo img {
				padding: 15px;
				height: 150px;
				
				.setBorderRadius(all, 15px);
			}

			/* CONTATO */	
			.div-desc-contato ul {
				padding: 0;
				list-style: none;
				text-align: left;
			}
				.div-desc-contato ul > li {
					#descricoes > .descricao-padrao-rodape;
				}
					.div-desc-contato ul > li > span {
						margin-right: 8px;
					}

	
		/* DIREITOS */
		.div-direitos-rodape {
			padding: 5px;
			background: @preto url('../imagens/topo/background.png');
		}
		.div-direitos-rodape-texto > p {
			color: @branco !important;
		}

			/* TEXTO */
			.div-desc-contato > ul > li > #contato {
				font-size: 9px !important;
				font-weight: 700;

			}
			.div-direitos-rodape-texto {
				padding-top: 8px;
			}
				.div-direitos-rodape-texto .descricao-rodape {
					margin: 0;
					font-weight: 700 !important;
				}

			/* LOGO */
			.div-direitos-rodape-logo  {
				padding-top:10px;
				text-align: right !important;
			}
				.div-direitos-rodape-logo > span {
					color:@branco;
				}
				.div-direitos-rodape-logo > span > a {
					margin: 0 10px 0 0;
				}
			
